@{
    ViewBag.Title = Html.Resource("Title");
}
@using Cyara.Shared.Web.Extensions
@using Cyara.Web.Common.Extensions
@using Cyara.Web.Portal.Core.SiteMap
@using MvcSiteMapProvider.Web.Html
@model Cyara.Web.Portal.Areas.Admin.Models.AccountEditViewModel

@section PageHead
{
    @Html.PageHeader(Html.Resource("PageHead"), Model.Name)
}

@section PageHeadRight
{
}

@section Breadcrumbs
{
    @Html.MvcSiteMap().GenerateBreadcrumbs(new [] { Url.Action("Index"), Url.Action("Edit") })
}

@section PageContent
{
    <div class="overlap">
        <div class="form" id="showaccount">
            @Html.EditorForModel()

            @Html.EditorFor(m => m, "AccountTestConfiguration", new { FormSelector = "#showaccount" })


            @Html.EditorFor(m => m, "AccountPlanConfiguration")

            <div class="form-actions">
                @Html.ErrorPanel(Model.Message)
                @Html.ActionLinkIfPermitted(Html.GlobalResource("Cancel"), "index", "account", null, new { @class = "btn" }, "index", "home", new { area = "" })
            </div>
        </div>
    </div>
}