@{
    ViewBag.Title = Html.Resource("Title");
}
@using Cyara.Shared.Web.Extensions
@using Cyara.Web.Common.Extensions
@model Cyara.Web.Portal.Areas.Admin.Models.AccountUsersViewModel

@section PageHead
{
    @Html.PageHeader(Html.Resource("PageHead"))
}

@section PageHeadRight
{
    @if (Html.HasActionPermission("create", "user"))
    {   
        <div class="btn-group pull-right">        
            <button title="@Html.Resource("NewUserButtonTitle")" class="btn dropdown-toggle" data-toggle="dropdown">@Html.Resource("NewUserButton") <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
                <li>@Html.ActionLink(Html.Resource("CreateUser"), "create", "user", null, null)</li>
                <li><a href="#" class="attach-user">@Html.Resource("AttachUser")</a></li>
            </ul>
        </div>
    }
}

@section PageContent
{
    <div class="overlap">

        @Html.EditorFor(m => m, "AccountUserConfiguration")

    </div>
}
