@{
    ViewBag.Title = Html.Resource("Title");
}
@using Cyara.Shared.Web.Extensions
@using Cyara.Web.Common.Extensions
@using Cyara.Web.Portal.Areas.Report.Extensions
@using Cyara.Web.Portal.Core.SiteMap
@using MvcSiteMapProvider.Web.Html
@model Cyara.Web.Portal.Areas.Report.Models.SeverityMappingViewModel

@section PageHead
{
    @Html.PageHeader(Html.Resource("PageHead"))
}

@section Breadcrumbs
{
    @Html.MvcSiteMap().GenerateBreadcrumbs(new [] { Url.Action("Index", "Custom"), Url.Action("Index", "Mapping") })
}

@section PageContent
{
    @using (Html.BeginForm("Index", "Mapping", FormMethod.Post, new { id = "mappingform" }))
    {
        @Html.AntiForgeryToken()
        <div class="overlap">
            <div class="form">
                <div class="form-head">
                    <div class="pull-right aligned-buttons">
                        <button type="submit" class="btn btn-primary btn-submit">@Html.GlobalResource("SaveDetails")</button>
                        @Html.ActionLink(Html.GlobalResource("Cancel"), "index", "Custom", null, new { @class = "btn btn-cancel" })
                    </div>
                    <h2>@Html.Resource("SubHeading")</h2>
                </div>
            </div>
            <div class="boxed no-top">
                @for (var i = 0; i < Model.DetailedResults.Count; i++)
                {
                    @Html.HiddenFor(m => Model.DetailedResults[i].TestResultCategory)
                }
                <table id="severitygrid" class="is-responsive-table table table-striped table-hover finger truncated">
                    <colgroup>
                        <col style="width: auto"/>
                        <col style="width: 128px!important"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>@Html.GlobalResource("TableHeading_FailureReason")</th>
                            <th>@Html.GlobalResource("TableHeading_Severity")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.DetailedResults.Count; i++)
                        {
                            <tr>
                                <td class="truncate">@Model.DetailedResults[i].Name</td>
                                <td>@Html.DropDownListFor(m => Model.DetailedResults[i].Severity, Model.SeverityChoices.SetSelected(Model.DetailedResults[i].Severity.ToString()), new Dictionary<string, object>  { {"class", "input-small" }, {"data-tag", Model.DetailedResults[i].TestResultCategory.ToString() }})</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-submit">@Html.GlobalResource("SaveDetails")</button>
                    @Html.ActionLink(Html.GlobalResource("Cancel"), "index", "Custom", null, new { @class = "btn btn-cancel" })
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
        $(function() {
            var dirtyHandler = new DirtyPageHandler({ form: '#mappingform' });
        })
    </script>
}