@using Cyara.Shared.Types.ReportSchedule
@using Cyara.Web.Common.Extensions
@using Cyara.Web.Portal.Areas.Report.Extensions
@using Cyara.Web.Portal.Core.Extensions
@model Cyara.Web.Portal.Areas.Report.Models.ScheduleMonthlyViewData

<div class="control-group">
    @Html.LabelFor(m => m.EveryMonth, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.EveryMonth, new {@class = "input-mini inline"})
        @Html.Resource("MonthsOn")
        @Html.ValidationMessageFor(m => m.EveryMonth)
    </div>
</div>


<div class="control-group">
    <div class="controls">
        @Html.HiddenFor(m => m.ScheduleUnavailable)
        @Html.HiddenFor(m => m.EachParticularDayOfMonth)
        <label class="radio inline">
            @Html.RadioButtonFor(m => m.MonthlyOption, MonthlyScheduleRepeatOption.DayWithinMonth, new {id = "optionDayWithinMonth"})
            @MonthlyScheduleRepeatOption.DayWithinMonth.ToLabel()
        </label>
        
        <div class="calendar-table">
            <table>
                @{
                    int day = 1;
                    for (int row = 0; row < 5; row++)
                    {
                        <tr>
                            @for (int col = 0; col < 7; col++)
                            {
                                <td
                                    @Html.IsKeyInCommaDelimitedSequence(Model.EachParticularDayOfMonth, day.ToString(), new HtmlString("class=selected-td"), null)
                                    data-value="@(day)">
                                    @(day++)
                                </td>
                                if (day > 31)
                                {
                                    break;
                                }
                            }
                        </tr>
                        if (day > 31)
                        {
                            break;
                        }
                    }
                }
            </table>
        </div>
        @Html.ValidationMessageFor(m => m.EachParticularDayOfMonth)
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="radio">
            @Html.RadioButtonFor(m => m.MonthlyOption, MonthlyScheduleRepeatOption.SpecialDayWithinMonth, new { id = "optionSpecialDayWithinMonth" })
            @MonthlyScheduleRepeatOption.SpecialDayWithinMonth.ToLabel() 
        </label>
        @Html.DropDownListFor(m => m.DayPosition, Model.DayPositionOptions, new { @class = "inline input-small" })
        @Html.DropDownListWithSeparatorFor(m => m.DaySelection, Model.DaySelectionOptions, new { @class = "inline input-medium" })
        @Html.ValidationMessageFor(m => m.DayPosition) 
        @Html.ValidationMessageFor(m => m.DaySelection)
    </div>
</div>

@{Html.RenderPartial("ScheduleDetailWithEndRepeatViewData", Model); }

<script type="text/javascript">
    (function () {

        function enableDisable() {
            if($("#optionDayWithinMonth").is(":checked")) {
                $("#@Html.IdFor(m => m.DayPosition),#@Html.IdFor(m => m.DaySelection)").prop("disabled", true);
                $("#@Html.IdFor(m => m.DayPosition)").val("@PeriodPositionWithinParentPeriodEnum.First.ToString()");
                $("#@Html.IdFor(m => m.DaySelection)").val("@DaySelectionEnum.Day.ToString()");
            }
            else if ($("#optionSpecialDayWithinMonth").is(":checked")) {
                $("#@Html.IdFor(m => m.DayPosition),#@Html.IdFor(m => m.DaySelection)").prop("disabled", null);
                $(".calendar-table td.selected-td").each(function (i, e) {
                    $(e).removeClass("selected-td");
                });
                $("#@Html.IdFor(m => m.EachParticularDayOfMonth)").val("");
            }
         }

        ScheduleReport.getInstance(".js-schedule-pop").registerUnavailableWriteHandler(function (value) {
            $("#@Html.IdFor(m => m.ScheduleUnavailable)").val(value);
        });
        
        ScheduleReport.getInstance(".js-schedule-pop").registerUnavailableReadHandler(function () {
            return $("#@Html.IdFor(m => m.ScheduleUnavailable)").val();
        });
        
        ScheduleReport.getInstance(".js-schedule-pop").addLoadHandler("ScheduleMonthlyViewData", function () {

            $("#@Html.IdFor(m => m.DaySelection),#@Html.IdFor(m => m.DayPosition)")
                .change(function() {
                    $("#optionSpecialDayWithinMonth").prop("checked", true);
                    enableDisable();
                    ScheduleReport.getInstance(".js-schedule-pop").post();
                });

            $("#@Html.IdFor(m => m.EveryMonth)")
                .change(function () {
                    if (/^[0-9]+$/.test($(this).val())) {
                        ScheduleReport.getInstance(".js-schedule-pop").post();
                    }
                });

            $("#optionDayWithinMonth")
                .change(function () {
                    enableDisable();
                    ScheduleReport.getInstance(".js-schedule-pop").post();
                });

            $("#optionSpecialDayWithinMonth")
                .change(function () {
                    $("#@Html.IdFor(m => m.EachParticularDayOfMonth)").clearValidation();
                    enableDisable();
                    ScheduleReport.getInstance(".js-schedule-pop").post();
                });

            $(".calendar-table td")
                .click(function(event) {
                    $(this).toggleClass("selected-td");
                    $("#@Html.IdFor(m => m.EachParticularDayOfMonth)").val(null);
                    var selected = '';
                    $(".calendar-table td.selected-td").each(function(i, e) {
                        selected += $(e).attr('data-value') + ',';
                    });
                    $("#@Html.IdFor(m => m.EachParticularDayOfMonth)").val(selected);
                    $("#optionDayWithinMonth").prop("checked", true);
                    $("#@Html.IdFor(m => m.EachParticularDayOfMonth)").clearValidation();
                    enableDisable();
                    ScheduleReport.getInstance(".js-schedule-pop").post();
                    event.preventDefault();
                })
                .mouseover(function() {
                    $(this).toggleClass("highlighted-td");
                })
                .mouseleave(function() {
                    $(this).toggleClass("highlighted-td");
                })
                .bind("selectstart", function() {
                    return false;
                });

            enableDisable();
        });
    })();
</script>