@{
    ViewBag.Title = Html.Resource("Title");
}
@using Cyara.Shared.Web.Extensions
@using Cyara.Web.Common.Extensions
@using Cyara.Web.Portal.Core.SiteMap
@using MvcSiteMapProvider.Web.Html
@model Cyara.Web.Portal.Areas.Admin.Models.UserEditViewModel

@section PageHead
{
@Html.PageHeader(Html.Resource("PageHead"))
}

@section PageHeadRight
{
}

@section Breadcrumbs
{
    @Html.MvcSiteMap().GenerateRememberedBreadcrumbsOrDefault(ViewContext, new [] { Url.Action("Users", "Account"), Url.Action("Create") })
}

@section PageContent
{
    <div class="overlap">
        <div class="form">
            @using (Html.BeginForm("create", "user", FormMethod.Post, new { id = "createuser" }))
            {
                @Html.AntiForgeryToken()

                @Html.EditorForModel()

                <div class="form-actions">
                    @Html.ErrorPanel(Model.Message)
                    <button type="submit" class="btn btn-primary btn-submit">@Html.GlobalResource("SaveDetails")</button>
                    @Html.LastBreadcrumbOrActionLink(Html.GlobalResource("Cancel"), "users", "account", null, new { @class = "btn btn-cancel" } )
                </div>
            }
        </div>
    </div>

    <script type="text/javascript">
        $(function () {

            @if (Model.LoginProvider.ConcatenateFirstAndLastName())
            {
                @:  var generator = new UserNameGenerator({ strategy: 'firstlast', firstname: '#@Html.IdFor(m => m.FirstName)', surname: '#@Html.IdFor(m => m.LastName)', username: '#@Html.IdFor(m => m.Username)' })
            }

            var dirtyHandler = new DirtyPageHandler({ form: '#createuser' });
        });
    </script>
}